.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/login_template/config.R
inst/shinyauthr/
docs
man/figures/DALL·E 2024-02-06 15.18.28 - A character is opening a door to a brightly lit room, where the R statistics logo prominently shines in the center. The room exudes an aura of mystery.webp
man/figures/DALL·E 2024-02-06 15.18.47 - A character is opening a door to a brightly lit room, where the R statistics logo prominently shines in the center. Above the logo, the word 'LOGIN' i.webp
inst/doc
/manuscript/
/doc/
/Meta/
